<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="game-on" id="game">
    <h1>Tic Tac Toe</h1>
    <h4>Create new Game</h4>
    <button id="create-game">Create</button>

    <h4>Games list:</h4>
    <ul id="gameList">
    </ul>
</div>
<h4 class="game-off" id="player"></h4>

<section class="game-off" id="tic-tac-toe">
    <div class="container">
        <div data-cell-index="0" class="cell"></div>
        <div data-cell-index="1" class="cell"></div>
        <div data-cell-index="2" class="cell"></div>
        <div data-cell-index="3" class="cell"></div>
        <div data-cell-index="4" class="cell"></div>
        <div data-cell-index="5" class="cell"></div>
        <div data-cell-index="6" class="cell"></div>
        <div data-cell-index="7" class="cell"></div>
        <div data-cell-index="8" class="cell"></div>
    </div>
    <h4 class="game-status"></h4>
    <button id="close-game">Left</button>

</section>


<script src="/static/script.js"></script>
</body>
</html>